<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IconBaseURL</key>
	<string>https://openweathermap.org/img/wn/</string>
	<key>WeatherBaseURL</key>
	<string>https://api.openweathermap.org/data/2.5/</string>
	<key>APIKey</key>
	<string>a9c1980cf4b6462d70acf32028dad0c4</string>
</dict>
</plist>
